<div class="container">
  <h2>Score</h2>


  <div class="container-view">
    <button type="button" class="custom-button" (click)="updateScore()">
      <img src="assets/btn_score_score.PNG" alt="score_view"/>
      <span class="button-content" id="score_content">{{ score }}%</span>
    </button>
  </div>

  <div class="container-view">
    <button type="button" class="custom-button">
      <img src="assets/btn_streak.PNG" alt="streak_view"/>
      <span class="button-content" id="streak_content">3x</span>
    </button>
  </div>

  <div class="container-view">
    <button type="button" class="custom-button">
      <img src="assets/btn_tier.PNG" alt="streak_view"/>
      <span class="button-content" id="tier_content">River</span>
    </button>


</div>
</div>

