<h2>Score</h2>
  <div class="container">
    <button type="button" class="custom-button">
      <img src="assets/btn_score_score.PNG" alt="score_view"/>
      <span class="btn-content"> 69% </span>
    </button>
    <button type="button" class="custom-button">
      <img src="assets/btn_streak.PNG" alt="streak_view"/>
      <span class="btn-content"> 3x </span>
    </button>
    <button type="button" class="custom-button">
      <img src="assets/btn_tier.PNG" alt="tier_view"/>
      <span class="btn-content"> River </span>
    </button>
  </div>

