<div class="bottom-navbar">
  <button routerLink="/home" routerLinkActive="active">
    <i class="fas fa-home"></i>
    <span>Home</span>
  </button>
  <button routerLink="/profile" routerLinkActive="active">
    <i class="fas fa-user"></i>
    <span>Profile</span>
  </button>
  <button routerLink="/score" routerLinkActive="active">
    <i class="fas fa-star"></i>
    <span>Score</span>
  </button>
  <button routerLink="/history" routerLinkActive="active">
    <i class="fas fa-chart-line"></i>
    <span>History</span>
  </button>
  <button routerLink="/settings" routerLinkActive="active">
    <i class="fas fa-cog"></i>
    <span>Settings</span>
  </button>
</div>
