<mat-toolbar class="mat-toolbar-bottom">
  <button mat-icon-button routerLink="/home" routerLinkActive="active">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button routerLink="/profile" routerLinkActive="active">
    <mat-icon>person</mat-icon>
  </button>
  <button mat-icon-button routerLink="/score" routerLinkActive="active">
    <mat-icon>star</mat-icon>
  </button>
  <button mat-icon-button routerLink="/history" routerLinkActive="active">
    <mat-icon>show_chart</mat-icon>
  </button>
  <button mat-icon-button routerLink="/settings" routerLinkActive="active">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>
