.settings-container {
  font-family: 'Arial', sans-serif;
  border-radius: 20px;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.settings-container h2 {
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

.setting-option {
  background-color: #84D0FB;
  border-radius: 10px;
  padding: 10px 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.setting-option label {
  color: #333;
  font-size: 16px;
}

.setting-option input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: calc(100% - 10px); /* Adjust input width */
}

.error-message {
  color: #ff0000;
  font-size: 0.8rem;
  margin-top: 5px;
}

button.save {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4cd964;
  color: white;
  cursor: pointer;
}

button.save:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
