<mat-card>
  <form [formGroup]="profileForm" (ngSubmit)="saveProfile()" class="settings-container">
    <h2>Profile</h2>
    <mat-form-field class="setting-option" appearance="fill">
      <mat-label>Name</mat-label>
      <input matNativeControl formControlName="name" placeholder="Enter your name">
      <mat-error *ngIf="profileForm.get('name')?.hasError('required')">
        Name is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="setting-option" appearance="fill">
      <mat-label>Weight</mat-label>
      <input matNativeControl type="number" formControlName="weight">
      <span matSuffix>kg</span>
      <mat-error *ngIf="profileForm.get('weight')?.hasError('required')">
        Weight is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="setting-option" appearance="fill">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="Male">Male</mat-option>
        <mat-option value="Female">Female</mat-option>
        <mat-option value="Other">Other</mat-option>
      </mat-select>
      <mat-error *ngIf="profileForm.get('gender')?.hasError('required')">
        Gender is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="setting-option" appearance="fill">
      <mat-label>Daily Goal</mat-label>
      <input matNativeControl type="text" formControlName="dailyGoal">
      <span matSuffix>ml</span>
      <mat-error *ngIf="profileForm.get('dailyGoal')?.hasError('required')">
        Daily goal is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="setting-option" appearance="fill">
      <mat-label>Age</mat-label>
      <input matNativeControl matInput type="number" formControlName="age">
      <mat-error *ngIf="profileForm.get('age')?.hasError('required')">
        Age is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="setting-option" appearance="fill">
      <mat-label>Default Drink Size</mat-label>
      <input matNativeControl matInput type="number" formControlName="drinkSize">
      <span matSuffix>ml</span>
      <mat-error *ngIf="profileForm.get('drinkSize')?.hasError('pattern')">
        Default Drink Size must be a number.
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="save">Save</button>
  </form>
</mat-card>
