<div class="container">
  <h2>Home</h2>

  <div class="container-2-buttons">
    <button (click)="navigateToProfile()" id="profileButton" type="button" class="custom-button"><img src="assets/btn_profile.PNG" alt="Icon"/></button>
    <button  (click)="navigateToSettings()" type="settingsButton" class="custom-button"><img src="assets/btn_settings.PNG" alt="Icon"/></button>
  </div>

  <div class="container-2-buttons">
    <button  (click)="navigateToScore()" id="scoreButtona" type="button" class="custom-button-big">
      <img src="assets/btn_score.PNG" alt="Icon"/>
      <span class="score-btn-content"> {{ score }}% </span>
    </button>
  </div>

  <div class="container-2-buttons-2">
    <button type="submit" class="custom-button" (click)="addDrinkFromForm()">
      <img src="assets/btn_add_strd.PNG" alt="Icon"/>
    </button>
    <button type="button" class="custom-button small" (click)="openDrinkSizeDialog()">
      <img src="assets/btn_add_cstm.PNG" alt="Icon"/>
    </button>
  </div>


</div>
